body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#settings {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 30;
}

button {
  padding: 1em 5em;
}

#settings-button {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 20;
}

.file-upload-button-container {
  z-index: 10;
}

.file-upload-button-container-top-center {
  position: absolute;
  top: 0px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.file-upload-button-container-right {
  position: absolute;
  top: 7em;
  right: 0px;
}

#file-upload-form {
    opacity: 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
   text-align: center;
   color: black;
   border: 2px solid white;
}

.card:link {
  text-decoration: none;
}

.card:visited {
  text-decoration: none;
}

.card:hover {
  text-decoration: none;
  background-color: #e5f8ff;
  border: 2px solid #35c8ff;
}

.card:active {
  text-decoration: none;
}

.card-label {
   padding: 0em 1em 1em 1em;
}

#actor-list > .card {
/*    width: max(9em, 150px);*/
    width: 9em;
}

#section-scene-switcher > .card {
/*    width: max(10em, 160px);*/
    width: 10em;
}
