body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

#settings {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 10%;
  bottom: 10%;
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
  overflow-x: hidden;
  overflow-y: auto;
}

#settings-button {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0.4em 5em;
}
