__pycache__
/.tox
/cache
/commands/*/*/*.svg
!/commands/*/*/*-undecorated.svg
/commands/*/*/*.pdf
/conf/scanarium.conf
/conf/cameraParameters*.xml
/conf/calibration*.xml
/conf/max_brightness*.png
/conf/max-brightness*.png
/dynamic
/frontend/phaser-3.*.js
/scenes/*/actors/*/*.svg
!/scenes/*/actors/*/*-undecorated.svg
/scenes/*/actors/*/*-mask.png
/scenes/*/actors/*/*-thumb.jpg
/scenes/*/actors/*/*.pdf
